[Unit]
Description=Gunicorn instance to serve Airbnb_clone
#start after the network is available
After=network.target

[Service]
# set the Service under the user ubuntu
User:ubuntu
# set the working directory
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
# start the gunicorn with 3 workers 
ExecStart=gunicorn --workers 3 --bind 0.0.0.0:5003 web_dynamic.2-hbnb:app --error-logfile /tmp/airbnb-error.log
# Restart the service if it fails
Restart=always
# redirect standard output to the syslog
StandardOutput=append:/tmp/airbnb-access.log
# redirect standard error to the syslog
StandardError=append:/tmp/airbnb-error.log
# Identifier for syslog messages
SyslogIdentifier=gunicorn
[Install]
#enable the service for multi-user.target
WantedBy=multi-user.target
